body{
    background-color: darkcyan;
}


.bikes4u {
flex-direction: column;
border: solid black 2px;
border-radius: 6px;
background-color: grey;
display: flex;
text-align: center;
padding: 10px;
margin: 1rem;
width: 30%;
align-items: center;
}

.c2ez-pos {
flex-direction: column;
border: solid black 2px;
border-radius: 6px;
background-color: grey;
display: flex;
text-align: center;
padding: 10px;
margin: 1rem;
width: 30%;
align-items: center;
}

nav{
    border-bottom: solid black 3px;
}

.password-generator{
flex-direction: column;
border: solid black 2px;
border-radius: 6px;
background-color: grey;
display: flex;
text-align: center;
padding: 10px;
margin: 1rem;
width: 30%;
align-items: center;
}

.project-details {
    border: solid 2px black;
    background-color: lightgray;
    width: 50%;
    padding: 10px;
}

.project-image{
    width: 80%;
    padding: 20px;
}

.projects-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects-div-title{
    display: flex;
    justify-content: center;
}

.README-maker{
flex-direction: column;
border: solid black 2px;
border-radius: 6px;
background-color: grey;
display: flex;
text-align: center;
padding: 10px;
margin: 1rem;
width: 30%;
align-items: center;
}
.team-profile-maker {
flex-direction: column;
border: solid black 2px;
border-radius: 6px;
background-color: grey;
display: flex;
text-align: center;
padding: 10px;
margin: 1rem;
width: 30%;
align-items: center;
}

.technologies{
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.tech-div{
    border: solid black 1px;
    background-color: lightslategrey;
    color: white;
    display: inline-block;
}


.weather-thingy {
flex-direction: column;
border: solid black 2px;
border-radius: 6px;
background-color: grey;
display: flex;
text-align: center;
padding: 10px;
margin: 1rem;
width: 30%;
align-items: center;
}