
.bikes4u {
    flex-direction: column;
    border: solid grey 2px;
    border: radius 6px;
    background-color: grey;
    display: inline-block;
    text-align: center;
    padding: 10px;
    
}
.password-generator{
    flex-direction: column;
    border: solid grey 2px;
    border-radius: 6px;
    background-color: grey;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.project-details {
    border: solid 2px black;
    background-color: lightgray;
}

.project-image{
    min-width: 250px;
    max-width: 500px;
}

.projects-div {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.README-maker{
    flex-direction: column;
    border: solid grey 2px;
    border-radius: 6px;
    background-color: grey;
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.team-profile-maker {
    flex-direction: column;
    border: solid grey 2px;
    border-radius: 6px; 
    background-color: grey;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.weather-thingy {
    flex-direction: column;
    border: solid grey 2px;
    border-radius: 6px;
    background-color: grey;
    display: inline-block;
    text-align: center;
    padding: 10px;
}